<div class="row d-flex justify-content-center">
  <div class="col-md-6 col-sm-3 col-lg-4">
    <div class="card mt-5">
      <div class="card-body">
        <h1 class="text-center mb-3">Edit Post</h1>
        <%= render partial: "blog_posts/form", locals: {blog_post: @blog_post} %>
      </div>
    </div>
  </div>
</div>
