<h1>This is the BlogPost</h1>
<hr>

<% @blog_posts.each do |blog_post| %>
  <div>
    <h2><%= link_to blog_post.title, blog_post, class: "nav-link" %></h2>
    <%= blog_post.body %>
  </div>
  <hr>
<% end %>
